
.registration {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
    padding: 15px;
}

.auth-box {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

.logo h1 {
    font-size: 32px;
    color: #007bff;
    text-shadow: 1px 1px 2px #000;
    margin-bottom: 20px;
}

.avatar-label {
    cursor: pointer;
    display: inline-block;
}

.avatar-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ced4da;
    transition: border-color 0.3s ease;
}

.avatar-label:hover .avatar-image {
    border-color: #007bff;
}

#avatar-upload {
    display: none;
}

.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ced4da;
    margin-bottom: 15px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

    .form-control:focus {
        border-color: #007bff;
        box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
    }

.btn {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
}

    .btn-primary:hover {
        background-color: #0056b3;
    }

.existing-account {
    margin-top: 20px;
    font-size: 14px;
    color: #007bff;
}

    .existing-account a {
        color: #007bff;
        text-decoration: underline;
    }

        .existing-account a:hover {
            color: #0056b3;
        }

.dropdown-menu {
    width: 100%;
    margin-top: 2px;
    border-radius: 10px;
}

.dropdown-item {
    font-size: 16px;
    padding: 10px;
    transition: background-color 0.3s ease;
}

    .dropdown-item:hover {
        background-color: #f8f9fa;
        cursor: pointer;
    }
