@using Vsety.Core.Models.ViewModel
@model Person
@{
    ViewData["Title"] = "Person";
}

<div class="container registration">
    <div class="auth-box">
        <form asp-action="PersonView" asp-controller="Account" method="post" enctype="multipart/form-data">
            <div class="logo">
                <h1>Информация о себе</h1>
            </div>
            <div class="mb-3 text-center">
                <label for="avatar-upload" class="avatar-label">
                    @if (Model != null)
                    {   
                        @if (Model.avatar != null)
                        {
                            <img src="@Model.avatarPath" alt="Avatar" class="rounded-circle avatar-image" id="avatar-preview">
                        }
                    }
                    else {
                        <img src="/img/stockphoto.jpg" alt="Avatar" class="rounded-circle avatar-image" id="avatar-preview">
                    }
                </label>
                <input type="file" id="avatar-upload" name="avatar" accept="image/*" class="form-control-file">
            </div>

            <div class="mb-3">
                <span asp-validation-for="Name" class="text-danger"></span>
                <input type="text" asp-for="Name" class="form-control" id="username" placeholder="Имя">
            </div>
            <div class="mb-3">
                <span asp-validation-for="Surname" class="text-danger"></span>
                <input type="text" asp-for="Surname" class="form-control" id="password" placeholder="Фамилия">
            </div>
            <div class="mb-3 dropdown">
                <span asp-validation-for="Gender" class="text-danger"></span>
                <input type="text" asp-for="Gender" class="form-control dropdown-toggle" id="gender-input" placeholder="Гендер" readonly data-bs-toggle="dropdown" aria-expanded="false">
                <ul class="dropdown-menu" aria-labelledby="gender-input">
                    <li><a class="dropdown-item" href="#" onclick="selectGender('Мужской')">Мужской</a></li>
                    <li><a class="dropdown-item" href="#" onclick="selectGender('Женский')">Женский</a></li>
                    <li><a class="dropdown-item" href="#" onclick="selectGender('Без пола')">Без пола</a></li>
                </ul>
            </div>
            <div class="mb-3">
                <span asp-validation-for="City" class="text-danger"></span>
                <input type="text" asp-for="City" class="form-control" id="confirm-password" placeholder="Город">
            </div>
            <div class="mb-3">
                <span asp-validation-for="Birthday" class="text-danger"></span>
                <input type="date" asp-for="Birthday" class="form-control" id="confirm-password" placeholder="День рождения">
            </div>
            <div class="mb-3">
                <span asp-validation-for="Nickname" class="text-danger"></span>
                <input type="text" asp-for="Nickname" class="form-control" id="confirm-password" placeholder="Ник">
            </div>

            <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
            <div class="existing-account">
                Уже есть аккаунт? <a href="#">Войти</a>
            </div>
        </form>
    </div>
</div>

<script>
    function selectGender(value) {
        document.getElementById('gender-input').value = value;
    }
</script>