@{
    ViewData["Title"] = "Authorization";
}

<div class="container authorization">
    <div class="auth-box">
        <div class="logo">
            <h1>ВСети</h1>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="username" placeholder="Номер телефона или почта">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" id="password" placeholder="Пароль">
            <a href="#" class="forgot-password">Забыли пароль?</a>
        </div>
        <button type="submit" class="btn btn-primary">Войти</button>
        <a asp-area="" asp-controller="Account" asp-action="RegisterView">
            <button type="button" class="btn btn-secondary">Зарегистрироваться</button>
        </a>
    </div>
</div>
